__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
python/test_artifacts/

build/
build-noocct/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
compile_commands.json

node_modules/
dist/

target/

.DS_Store
.idea/
.vscode/
